[Desktop Entry]
Name=Only one active window
Comment=Automatically minimizes inactive windows
Icon=preferences-system-windows-script-test

Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=Andrey Shertsinger
X-KDE-PluginInfo-Email=andrey@shertsinger.ru
X-KDE-PluginInfo-Name=onlyOneActiveWindow
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
X-KDE-PluginKeyword=onlyOneActiveWindow
X-KDE-ParentComponents=onlyOneActiveWindow

